<% if @word.traditional %>
  <h1><%= @word.traditional %></h1>
<% else %>
  <h2><%= @word.try(:simplified) %></h2>
<% end %>
<p><%= @word.try(:pinyin) %> </p>
<p><%= @word.try(:definition) || 'no definition found' %> </p>
